* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style: none;
}

body {
    background: #efefef;
    color: #333;
}

#header {
    width: 1000px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: color 0.3s ease;
}

#header>#gnb {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    font-size: 1.25rem;
}

#header>#gnb a {
    color: #333;
}

#header>#gnb a:hover {
    color: #666;
}

#hero {
    background: #333;
    height: 80vh;
    padding: 0 1rem;
}

#hero>#hero-container {
    display: flex;
    height: 100%;
    padding: 3rem 0;
    color: #fff;
    font-size: 2rem;
    flex-direction: row;
    gap: 2rem;
    width: 1000px;
    margin: 0 auto;
}

#hero>#hero-container>#hero-text {
    width: 50vw;
    padding: 4rem 4rem 0 0;
}

#hero>#hero-container>#hero-text>ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 1rem;
}

#hero>#hero-container>#hero-text>ul p {
    font-size: 1.5rem;
}

#hero>#hero-container>#hero-text>ul button {
    padding: 16px 32px;
    color: #333;
    background: #efefef;
    border-radius: 0.5rem;
    font-size: 1.25rem;
}

#hero>#hero-container>#hero-image {
    position: relative;
    width: 50vw;
    height: 100%;
    overflow: hidden;
}

#hero>#hero-container>#hero-image img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: -50px;
}

.strength-box {
    display: flex;
    padding: 1rem 0;
    flex: 1 0 0;
    gap: 2rem;
}

.strength-box>li {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 33%;
    background: #efefef;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 2.5rem 2.5rem;
    min-height: 250px;
}

.strength-box>li>.strength-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.strength-box>li>.strength-content {
    font-size: 1rem;
    color: #333;
    line-height: 180%;
}

#education-list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#education-list>li {
    display: flex;
    gap: 5rem;
}

#education-list>li>.edu-img>#img-NCP {
    width: 30vh;
}

#education-list>li>.edu-img>#img-IT {
    width: 30vh;
    padding: 1.5rem;
    border: 1px solid #ddd;
}

#education-list>li>.edu-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#education-list>li>.edu-item>#edu-name {
    padding-left: 5vh;
}

.edu-title {
    display: block;
    font-weight: bold;
    padding-bottom: 0.6rem;
}

section>h3 {
    padding: 0.5rem 0 1rem 0;
}

section>ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1 1 0;
    gap: 5rem;
}

.projects>li {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}


.projects>li>.project-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    gap: 6rem;
}


.projects>li>.project-item>.project-thumnail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#width-gif {
    width: 28rem;
    height: auto;
    display: block;
    object-fit: contain;
}

.projects>li>.project-item>.project-content {
    width: 100%;
}

.projects>li>.project-item>.project-content>h4 {
    font-size: 2rem;
}

.projects>li>.project-item>.project-content>p {
    font-size: 1rem;
    color: #666;
    padding: 0.5rem 0;
}

.buttons {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.project-content>.title {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.5rem 0;
}

.project-content>.pro-list {
    padding: 0.25rem;
}

.project-content>.pro-list,
.project-content>.pro-list>li {
    list-style-type: circle;
    list-style: disc inside none;
}

.project-content {
    line-height: 1.5rem;
}

.project-content>#pro-img-list {
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    line-height: 1rem;
}

.project-content>.pro-list>span>img {
    width: 5rem;
    height: 5rem;
}

.skills-content>.skills-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-style li ul {
    padding-left: 1.5em;
    list-style-type: '→ ';
}

.about-box {
    display: flex;
    padding: 1rem 0;
    flex: 1 0 0;
    gap: 2rem;
}

.about-box>li {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 33%;
    background: #efefef;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 2.5rem 2.5rem;
    min-height: 250px;
}

.about-box>li>.about-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.about-box>li>.about-content {
    font-size: 1rem;
    color: #333;
    line-height: 180%;
}

/* etc */
.container {
    width: 1000px;
    padding: 0 1rem;
    margin: 0 auto;
}

.box {
    padding: 16px 8px;
}

.small-text {
    font-size: 1rem;
    color: #999;
    display: block;
}

.heading {
    font-size: 1.5rem;
    line-height: 120%;
    padding: 1.5rem 0;
}

.list-style,
.list-style>li {
    list-style-type: circle;
    list-style: disc inside none;
}

.list-style {
    padding-top: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.division {
    padding: 1rem;
}

.line {
    width: 100%;
    height: 1px;
    background: #ddd;
}


.white {
    color: white !important;
}

.white:hover {
    color: #000;
}

.learn-more {
    cursor: pointer;
}

/* 모달 구현 */
.project-summary {
    text-align: center;
    margin-top: 100px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 32px;
    cursor: pointer;
}